{% extends 'base.html.twig' %}
{% block title 'Agence lorem ipsum' %}
 {% block body %}
     <div class="jumbotron text-center">
         <h1>Agence lorem ipsum</h1>
         <h2>hello je suis pages/home.html.twig</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid consequuntur, delectus enim exercitationem fuga itaque molestias placeat rerum sed sunt temporibus velit vitae! Assumenda fuga natus nobis placeat reprehenderit?</p>
     </div>
     <div class="container">
         <div class="row flex">
             {% for property in properties  %}
                 <div class="col-3">
                     <div class="card">
                         <div class="card-body">
                             <h5 class="card-title">
                                 <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                             </h5>
                             <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                             <div class="text-danger font-weight-bold ">{{ property.formattedPrice }} €</div>
                         </div>
                     </div>
                 </div>
             {% endfor %}
         </div>
     </div>
 {% endblock %}

